<form class="form-inline">
    <input type="text" placeholder="name"  class="form-control"   [ngModel]="user.name" required #name="ngForm"/>
    <input type="text" placeholder="surname" class="form-control"  [ngModel]="user.surname" required #surname="ngForm"/>

    <button class="btn btn-success" (click)="addUser(name.value,surname.value)" *ngIf="showAdd()" [disabled]="!name.valid || !surname.valid">Add</button >
    <button class="btn btn-primary" (click)="saveUser(name.value,surname.value)" *ngIf="showSave()" [disabled]="(!name.valid || !surname.valid)">Save</button>
    <button class="btn btn-warning" (click)="cancelUser()" *ngIf="showCancel()">Cancel</button>
</form>